.list-item-parent{
    background-color: rgba(255, 255, 255, 0.397);
    padding: 5px 10px;
    border-radius: 10px;
}
.list-item-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid rgba(0, 9, 128, 0.37);
}
.item-remove-icon{
    color: red;
}