.book-card{
    padding: 8px;
    border-radius: 10px;
}

.card-image-section{
    overflow: hidden;

}
.card-image-section img{
    transition: .4s;
    border-radius: 10px;
}
.card-image-section img:hover{
    transform: scale(1.05);
    filter: blur(1px);
    
    
}